<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated application -->
      <package
            uri="http://www.abchip.org/mimo/application"
            class="org.abchip.mimo.application.ApplicationPackage"
            genModel="model/application.genmodel"/>
   </extension>

</plugin>
