<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2017, 2020 ABChip and others.\nAll rights reserved. This program and the accompanying materials\nare made available under the terms of the Eclipse Public License v1.0\nwhich accompanies this distribution, and is available at\nhttp://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui"
            class="org.abchip.mimo.ui.UIPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/menu"
            class="org.abchip.mimo.ui.menu.MenuPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/schema"
            class="org.abchip.mimo.ui.schema.SchemaPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/toolbar"
            class="org.abchip.mimo.ui.toolbar.ToolbarPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/view"
            class="org.abchip.mimo.ui.view.ViewPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/widget"
            class="org.abchip.mimo.ui.widget.WidgetPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/form"
            class="org.abchip.mimo.ui.form.FormPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/event"
            class="org.abchip.mimo.ui.event.EventPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ui -->
      <package
            uri="http://www.abchip.org/mimo/ui/query"
            class="org.abchip.mimo.ui.query.QueryPackage"
            genModel="model/ui.genmodel"/>
   </extension>

</plugin>
