
a:link          { color:#000000; text-decoration: none }
a:visited       { color:#000000; text-decoration: none }
a:hover         { color:#000000; text-decoration: none }

body {
	font-family: ubuntu;
}


.logo {

}

.block_red {
	cursor: move;
	dropable: true;
	draggable: true;	
	background-color:#FF0F06;
	width: 100%;
	height: 100%;
}
.block_blu {
	cursor: move;
	dropable: true;
	draggable: true;
	background: #2805FF;
	width: 100%;
	height: 100%;
}
.block_yellow {
	cursor: move;
	dropable: true;
	draggable: true;
	background: #FFF507;
	width: 100%;
	height: 100%;
}

.block {
	width: 100%;
	height: 100%;
}

.list {
	font-size: 20;
	vertical-align: top;
	height: 100%;
	padding-top: 0.2em;
	padding-left: 0.2em;
}


.intro {
	font-size: 20;
	text-align: center;
}

.title {
	font-size: 28;
	padding-left: 1em;
}

.summary {
	font-size: 20;
	vertical-align: top;
	padding-top: 0.1em;
	width: 100%;
	height: 100%;
}

.summary_sub {
	font-size: 18;
	vertical-align: top;
	padding-top: 0.1em;
	padding-left: 0.1em;
	width: 1em;
	height: 1em;	
}

.text {
	font-size: 18;
	vertical-align: top;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 2em;
	overflow: auto;
	height: 34em;
}

.table_border_H { 
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20;
	padding-left: 0.5em;
	padding-right: 1em;
}

.table_border_V { 
	background-color: #000000;
}