<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         id="osgi"
         name="MIMO OSGI Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.abchip.mimo.core.e4.E4EquinoxApplicationImpl">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.abchip.mimo.core.e4.Factory1"
            type="org.abchip.mimo.core.e4.parser1">
      </parser>
   </extension>
</plugin>
