<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo"
            class="org.abchip.mimo.MimoPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/application"
            class="org.abchip.mimo.application.ApplicationPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/context"
            class="org.abchip.mimo.context.ContextPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/data"
            class="org.abchip.mimo.data.DataPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/entity"
            class="org.abchip.mimo.entity.EntityPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/java"
            class="org.abchip.mimo.java.JavaPackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/resource"
            class="org.abchip.mimo.resource.ResourcePackage"
            genModel="model/mimo.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mimo -->
      <package
            uri="http://www.abchip.org/mimo/service"
            class="org.abchip.mimo.service.ServicePackage"
            genModel="model/mimo.genmodel"/>
   </extension>

</plugin>
