<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated database -->
      <package
            uri="http://www.abchip.org/mimo/database"
            class="org.abchip.mimo.database.DatabasePackage"
            genModel="model/database.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated database -->
      <package
            uri="http://www.abchip.org/mimo/database/connection"
            class="org.abchip.mimo.database.connection.DatabaseConnectionPackage"
            genModel="model/database.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated database -->
      <package
            uri="http://www.abchip.org/mimo/database/definition"
            class="org.abchip.mimo.database.definition.DatabaseDefinitionPackage"
            genModel="model/database.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated database -->
      <package
            uri="http://www.abchip.org/mimo/database/query"
            class="org.abchip.mimo.database.query.DatabaseQueryPackage"
            genModel="model/database.genmodel"/>
   </extension>
</plugin>
