<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2017, 2021 ABChip and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
-->

<plugin>

   <extension
         point="org.eclipse.emf.ecore.setting_delegate">
      <factory
            class="org.abchip.mimo.core.base.BaseSettingFactory"
            uri="org.abchip.mimo.core.base.setting">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.invocation_delegate">
      <factory
            class="org.abchip.mimo.core.base.BaseInvokeFactoring"
            uri="org.abchip.mimo.core.base.invocation">
      </factory>
   </extension>
   <extension
         id="mimo"
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            class="org.abchip.mimo.core.base.BaseConstraintProvider">
         <package
               namespaceUri="org.abchip.mimo.core.base.constraint">
         </package>
         <description>
            dsfsdfsdfdjsgldsfjhglsd
         </description>
      </constraintProvider>
   </extension>

</plugin>
