<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tester -->
      <package
            uri="http://www.abchip.org/mimo/tester"
            class="org.abchip.mimo.tester.TesterPackage"
            genModel="model/tester.genmodel"/>
   </extension>

</plugin>
